{
  "semi": false,
  "singleQuote": true,
  "trailingComma": "none",
  "arrowParens": "always",
  "bracketSpacing": true,
  "jsxSingleQuote": true,
  "overrides": [
    {
      "files": "*.{scss,css}",
      "options": {
        "singleQuote": false
      }
    }
  ]
}
